[submodule "extern/resources"]
	path = extern/resources
	url = https://github.com/mlthelama/ResourcesForLamasTinyHUD.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/mlthelama/CommonLibSSE.git
	branch = ng
